
@section Style
{
    <link href="~/css/site.css" rel="stylesheet" />
}
@section Script {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
}
<button class="navigation-button"><a href="/TaskTracker/Index">AddTaskButtonText</a></button>

