

@section Style
{
    <link href="~/css/site.css" rel="stylesheet" />
}
<h1>@TaskWebApp.LocalizationFiles.TaskTracker.AccessDenied</h1>
<img class="deny-icon" src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExaW4ydTh2Z3JmOGd0MHltcmp4MHg2M3Uwd3VqcWhzMXQ4N2ZlYWlsMCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/dtCcz6dVBp52cpjWB8/giphy.gif" />