html {
    color: white;
    font-family: 'Courier New', Sans-serif, Arial;
    height: 100vh;
}

body {
    height: 100%;
    background: linear-gradient(200deg, #4c376a, #000000, #1c285c);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
}

header {
    width: 96%;
    height: 10%;
    margin: 0 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link-container {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
}

.link-container_right {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items:end;
}


.username-container {
    display: flex;
    flex-direction: row;
    min-height: 35px;
}

.username-text {
    line-height: 35px;
    margin-left: 5px;
}

.login-icon {
    width: 30px;
    height: 30px;
}

.header-link {
    color: white;
    text-decoration: none;
    transition: font-weight 1s, opacity 1s;
}

.header-link:hover {
    font-weight: bold;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 96%;
    margin: 0 2%;
    min-height: 80%;
}

.navigation-button {
    opacity: 1;
    width: 300px;
    height: 80px;
    background-color: transparent;
    border: 2px solid white;
    outline: none;
    color: white;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: box-shadow 1s, opacity 1s;
    margin: 20px;
}

    .navigation-button a {
        text-decoration: none;
        color: white;
    }

    .navigation-button:hover {
        box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
    }


.photo-grid {
    width: 100%;
    padding: 30px;
    display: flex;
}


.photo-grid__container {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(4, 282px);
    row-gap: 30px;
    column-gap: 30px;
}

.photo-grid__card {
    color: black;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    height: 360px;
}

.photo-grid__card_highlight {
    background: linear-gradient(#eecddd, #a6c8ee, #a6e8ee);
    background-size: 200% 200%;
    animation: Gradient 5s ease infinite;
}

.photo-grid__priority {
    color: black;
    font-size: 20px;
    line-height: 20px;
    background: transparent;
    position: absolute;
    top: 18px;
    left: 15px;
    width: 19px;
    height: 19px;
    margin: 0;
}

.photo-grid__image {
    width: 20px;
    height: 20px;
    background: transparent;
    position: absolute;
    top: 15px;
    left: 30px;
    margin: 0;
}


.delete-icon {
    color: black;
    font-size: 20px;
    line-height: 20px;
    background: transparent;
    position: absolute;
    top: 18px;
    right: 15px;
    width: 19px;
    height: 19px;
    border: none;
    transition: opacity 1s ease;
}

.delete-icon_black a {
    text-decoration: none;
    color: black;
}

.delete-icon_white a {
    text-decoration: none;
    color: white;
}

.photo-grid__delete-icon:hover {
    opacity: .6;
}

.photo-grid__update-icon {
    color: black;
    font-size: 20px;
    line-height: 20px;
    background: transparent;
    position: absolute;
    top: 18px;
    right: 40px;
    width: 19px;
    height: 19px;
    border: none;
    transition: opacity 1s ease;
}

    .photo-grid__update-icon a {
        text-decoration: none;
        color: black;
    }

    .photo-grid__update-icon:hover {
        opacity: .6;
    }

.photo-grid__text {
    max-width: 90%;
    height: 80%;
    margin: 40px auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
}

.photo-grid__title {
    width: 100%;
    height: 15%;
    text-align: center;
    white-space: break-spaces;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
    font-weight: 900;
    font-size: 18px;
    line-height: 20px;
}

.photo-grid__description {
    width: 100%;
    height: 65%;
    text-align: left;
    overflow: auto;
    white-space: pre-wrap;
    margin: 5% auto;
    font-weight: 900;
    font-size: 16px;
    line-height: 18px;
}

    /* Custom scrollbar styles */
    .photo-grid__description::-webkit-scrollbar {
        width: 8px; /* width of the entire scrollbar */
    }

    .photo-grid__description::-webkit-scrollbar-track {
        background: #f1f1f1; /* color of the tracking area */
    }

    .photo-grid__description::-webkit-scrollbar-thumb {
        background-color: #888; /* color of the scroll thumb */
        border-radius: 10px; /* roundness of the scroll thumb */
        border: 2px solid #f1f1f1; /* creates padding around scroll thumb */
    }

        .photo-grid__description::-webkit-scrollbar-thumb:hover {
            background: #555; /* color of the scroll thumb on hover */
        }

.photo-grid__owner {
    display:inline;
    width: 100%;
    height: 10%;
    text-align: left;
    overflow: clip;
    white-space: pre-wrap;
    margin: 0 auto;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}

.add-form {
    display: flex;
    justify-content: center;
    height: 550px;
    width: 50%;
    margin: 0 auto
}

.add-form_login {
    height: 350px;
}

.add-form__container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
    box-sizing: border-box;
    height: 100%;
    width: 361px;
    animation: shimmer 5s infinite;
}


.add-form__title {
    color: white;
    margin: 20px auto;
    text-align: center;
    width: 80%;
}

.add-form__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.add_form__form_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 60%;
}

.add-form__input {
    text-align: start;
    color: white;
    margin: 10px auto;
    width: 90%;
    height: 10%;
    border: white 1px solid;
    border-radius: 5px;
    background-color: transparent;
}

.add-form__input_login {
    height: 15%;
}

.add-form__input::placeholder {
    margin-left: 5px;
}

.add-form__dropdown {
    text-align: start;
    color: white;
    margin: 10px auto;
    width: 90%;
    height: 8%;
    border: white 1px solid;
    border-radius: 5px;
    background-color: black;
}

.add-form__dropdown option {
    color: lightgrey;
}

.add-form__dropdown_multiple {
    text-align: start;
    color: white;
    margin: 10px auto;
    width: 90%;
    height: 16%;
    border: white 1px solid;
    border-radius: 5px;
    background-color: black;
}

.add-form__dropdown-label {
    text-align: start;
    color: white;
    opacity: 0.5;
    margin: 0 auto;
    width: 90%;
    font-size: 12px;
}

.add-form__dropdown-tooltip {
    text-align: start;
    color: white;
    opacity: 0.5;
    margin: 0 auto;
    width: 90%;
    font-size: 10px;
}

.field-validation-error {
    text-align: start;
    color: red;
    margin: 0 auto;
    width: 90%;
    font-size: 12px;
}

.add-form__input_description {
    height: 40%;
}

.add-form__button {
    color: white;
    background-color: transparent;
    margin: 10px auto 15px;
    width: 90%;
    height: 50px;
    border: 2px white solid;
    border-radius: 5px;
    transition: opacity 1s ease;
}


    .add-form__button:hover {
        opacity: .6;
        cursor: pointer;
    }


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 10%;
}

    footer span {
        color: white;
        text-decoration: none;
        margin-left: 3% auto;
    }


@keyframes shimmer {
    0% {
        box-shadow: 0 0 10px 0 rgb(232, 138, 138, 0.50);
    }

    50% {
        box-shadow: 0 0 40px 20px rgb(129, 184, 221, 0.30);
    }

    100% {
        box-shadow: 0 0 10px 0 rgb(230, 140, 217, 0.50);
    }
}

@keyframes Gradient {
    0% {
        background-position: 50% 100%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 50% 100%
    }
}
